<!-- layouts/lauout.ejs -->
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title><%= title %> - localapi</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/music.css">
        <script src="../js/lib.js" defer></script>
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="center main">
            <%- body %>
            <% if (locals.navbar !== false) { %>
            <%- include('../partials/navbar.ejs') -%>
            <% } %>
            <br/>
            <br/>
            <img src="../images/ie_exploder.gif" alt="norton"/>
            <img src="../images/norton.gif" alt="norton"/>
            <img src="../images/linux_powered.gif" alt="norton"/>
        </div>
    </body>
</html>