<!-- partials/navbar_dev.ejs -->
<%
const links = [
    {href: '/admin', icon: '/images/admin.gif', text: 'admin'},
    {href: '/dev/', icon: '/images/Tux_Got_Root.gif', text: 'root', w: 'width=150px; height=50px'},
    {href: '/dev/schedules', icon: '/images/schedule.gif', text: 'schedules', w: 'width=250px'},
    {href: '/dev/override', icon: '/images/override.gif', text: 'override', w: 'width=100px; height=50px;'}
];%>
<br/>
<br/>
<nav class="navbar">
        <% for (var i = 0; i < links.length; i++) { %>
        <% if (links[i].href === locals.currentPath) continue; %>
                <a href="<%= links[i].href %>">
                    <img src="<%= links[i].icon %>" <%= links[i].w %> alt="<%= links[i].text %>"/>
                </a>
        <% } %>
</nav>