<!-- dev/overridepanel.ejs -->
<table class="override clean">
    <tr>
        <th>Akcje</th>
        <th></th>
    </tr>

    <tr></tr>
    <tr>
        <th colspan="2"><hr /></th>
    </tr>
    <tr>
        <th>devapi</th>
        <td>
            <button onclick="performAction('/dev/api', { action: 'on' })">ON</button>
            <button onclick="performAction('/dev/api', { action: 'off' })">OFF</button>
            <button onclick="window.location.href='/dev/api'">tutaj</button>
        </td>
    </tr>
    <tr>
        <th>Restart</th>
        <td>
            <button onclick="performAction('/dev/action/restart', { action: 'off' })">OFF</button>
        </td>
    </tr>
</table>
<%- include('../partials/res.ejs') %>