table, th, td {
    border: 1px outset black;
    margin: 0 !important;
}

#tasksTable {
    background-color: #4b1295;
}

.clean, .clean th, .clean td {
    border: none;
}

.schedule {
    background-color: rgba(54, 54, 54, 0.74);
}

.proceduranr6 {
    background-color: #209323;
}