<!-- partials/musicpanel/mediacontrol.ejs -->
<div class="mediacontrol">
    <form method="get" action="/action/vlcPrevious">
        <input type="submit" formtarget="res" value="⏮">
    </form>
    <form method="get" action="/action/vlcPlay">
        <input type="submit" formtarget="res" value="⏯">
    </form>
    <form method="get" action="/action/vlcNext">
        <input type="submit" formtarget="res" value="⏭">
    </form>
</div>