<!-- partials/musicpanel/panic.ejs -->
<div class="panic">
    <form method="get" action="/action/kill">
        <input type="hidden" name="force"/>
        <input type="submit" formtarget="res" value="Awaryjny stop"/>
    </form>
</div>