<!-- partials/musicpanel/panic.ejs -->
<div class="panic">
    <form method="post" action="/action/kill?force=true">
        <input type="submit" formtarget="res" value="Awaryjny stop"/>
    </form>
</div>